body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  max-width: 740px;
  margin: 1em auto;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #202124;
    color: #d0d0d0;
  }

  :link {
    color: #8ab4f8;
  }

  :visited {
    color: rgb(197, 138, 249);
  }

  :link:active,
  :visited:active {
    color: #689ff8;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background: #fffffa;
    color: #212529;
  }
}

@import "blockquote";
